<section class="title2">Edit a contact
</section>
  <form action='/contact/<%= @contact.id %>' method='post'>
    <input type='hidden' name='_method' value='put'>
    First name: <input type='text' name='first_name' value='<%= @contact.first_name %>'>
    Last name: <input type='text' name='last_name' value='<%= @contact.last_name %>'>
    email address: <input type='text' name='email' value='<%= @contact.email %>'>
    Note: <input type='text' name='note' value='<%= @contact.note %>'>
    <input type='submit' value='Edit Contact'>
  </form>
